BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 80
IndentWidth: 2
AlignAfterOpenBracket: BAS_DontAlign
ContinuationIndentWidth: 0
AlignEscapedNewlines: Left

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
